@font-face {
  font-family: "Neue Montreal";
  src: url("../assets/fonts/Neue\ Montreal\ Medium.woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  font-family: "Neue Montreal";
  overflow-x: hidden;
  background-color: rgb(212, 201, 201);
}
