@font-face {
  font-family: "Neue Montreal";
  src: url("../assets/fonts/Neue\ Montreal\ Medium.woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  font-family: "Neue Montreal";
  overflow-x: hidden;
  background-color: rgb(212, 201, 201);
}

.color-black {
  color: #222;
}

.color-white {
  color: white;
}

.section-1 nav {
  margin-bottom: 15rem;
  font-size: 1.5rem;
  font-weight: 900;
}

.section-1 span,
.section-6 span {
  font-size: 13rem;
  /* font-size: 7rem; */
  font-weight: 200;
  line-height: 0.9;
  position: relative;
  will-change: transform;
  overflow: visible;
  display: flex;
}

::selection {
  color: white;
  background-color: #272727;
}

hr {
  border: 0;
  border-top: 1px solid #272727;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  margin-top: 1.4rem;
}

.section-6 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
