.section {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  position: relative;
  transition: background-color 0.5s ease;
  padding: 2rem;
}

.section-content {
  text-align: center;
  width: 100%;
}
