.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: background-color 0.5s ease;
}

.section-content {
  text-align: center;
}
